* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------------*/
/* Reusable components*/
/*----------------------------------------*/
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1,h2,h3{
    text-transform: uppercase;
    font-weight: 300;
}
h1{
    margin-top: 0px;
    margin-bottom: 20px;
    color: ivory;
    font-size: 240%;
    word-spacing: 1px;
    letter-spacing: 1px;
}
h2{
    color:black;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3{
    font: 110%;
    margin-bottom: 15px;
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px ;
    width: 250px;
}
section{
    padding:80px 0;
    
}

/*----------------------------------------*/
/* Header Section*/
/*----------------------------------------*/
header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(../css/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----------------------------------------*/
/* Paragraph Section*/
/*----------------------------------------*/
.long-copy{
    line-height: 145%;
    width: 69%;
    margin-left: 15%;
}


/*----------------------------------------*/
/* Button section*/
/*----------------------------------------*/
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn-full:link,
.btn-full:visited{
    border:1px solid #e67e22 ;
}
.btn-gost:link,
.btn-gost:visited{
    border:1px solid #3498db ;
}
.btn:hover,
.btn:active{
    background-color: #e67e22;
    transition-duration: 0.5s;
}
.btn-gost:hover,
.btn-gost:active{
    background-color: #e67e22;
    transition-duration: 0.5s;
    border:1px solid #e67e22 ;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border:1px solid #e67e22 ;
}

/*----------------------------------------*/
/* Logo Section*/
/*----------------------------------------*/
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

/*Sticky Navigation*/
.logo-black{
    display: none;
    height: 70px;
    width: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10%;
    padding-bottom: 5px;
    transition-duration: 0.5s;
}

.sticky{
    position: fixed;
    background-color: rgb(252, 252, 252);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px rgb(221, 220, 220);
    z-index: 9999;
    transition-duration: 0.5s;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 20px 0;
    color:#555;
    transition-duration:0.5s;
    
}
.sticky .main-nav{margin-top: 35px;}
.sticky .logo{
    display: none;
    transition-duration: 0.5s;
}
.sticky .logo-black{
    display: block;
    transition-duration: 0.5s;
}

/* Main navi */
.main-nav {
    float: right;
    margin-top: 45px;
    margin-right: 50px;
    
}

.main-nav li{
    display: inline-block;
    margin-left: 30px;
    list-style: none;
    
    
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 6px 0;
    text-decoration: none;
    color: rgb(248, 248, 248);
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;

}

/*********** Mobile Navigation*********/
.mobile-nav-icon{
    float: right;
    margin-top: 50px;
    cursor: pointer;
    display: none;
}
.mobile-nav-icon i{
    font-size: 35px;
    color: #fff;
}


/*----------------------------------------*/
/* Features Section*/
/*----------------------------------------*/
.box{
    height: 250px;
    padding: 1px;
}
.box p{
    font-size: 90%;
    line-height: 145%;

}
.section-features .long-copy{
    margin-bottom: 30px;
}
.section-steps {
    background-color: #f4f4f4;
    margin-top: -80px;
}

/*----------------------------------------*/
/* Icon Section*/
/*----------------------------------------*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-big:hover{
    color: darkgreen;
    fill: red;
}
/*----------------------------------------*/
/* Meal Section*/
/*----------------------------------------*/
.meals-showcase{
    list-style: none;
    width: 100%;
}
.meals-showcase li{
    display:block;
    float: left;
    width: 25%;  /* Set the width of li to 25 % so 4 phot will be in one line*/

}
.meal-photo{
    width: 100%;  /* now we set width of the meal-photo class to 100% so it's size will be the width of meal-shocase class*/
    margin: 0;
    overflow: hidden;
    background-color:#000;
}
.meal-photo img{
    width: 100%;
    /*nowsetthewidthofimgto100%soitswidthwillbethesizeofmeal-photclass*/height: auto;
    transform: scale(1.5);
    transition: 0.5s ,opacity 0.5s;
    opacity: 0.6;
    -webkit-transition: 0.5s ,opacity 0.5s;
    -moz-transition: 0.5s ,opacity 0.5s;
    -ms-transition: 0.5s ,opacity 0.5s;
    -o-transition: 0.5s ,opacity 0.5s;

    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.section-meal{
    padding: 0;
}
.meal-photo img:hover{
    transform: scale(1);
    transition-duration: 0.5s;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
   padding-left: 3%;
   margin-top: 10%;
}
.app-screen{
    width: 40%;
    margin-right: 30%;
}
.work-steps{
    margin-bottom: 40px;
}
.work-steps div{
    color: #e67e22;
    border: 2px solid #e67e22;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top:10px;
    float: left;
    margin-right: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.work-steps p{
    font-size: 95%;
}
.btn-app img{
    height: 50px;
    width: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-right: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/***********Cities Section*************/
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
.section-cities{
    margin-top: -40px;
}
.city-feature a{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.3s ,color 0.3s;
    -webkit-transition: border-bottom 0.3s ,color 0.3s;
    -moz-transition: border-bottom 0.3s ,color 0.3s;
    -ms-transition: border-bottom 0.3s ,color 0.3s;
    -o-transition: border-bottom 0.3s ,color 0.3s;
}
.city-feature a:hover{
    color: #555; 
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

}

/*-------------------Section Cutomers---------------*/
.section-testimonials{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    margin-top: 50px;
}
.section-testimonials h2{
    color: #fff;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}
blockquote::before{
    content:"\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite img {
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*-------------------Section Plans---------------*/
.section-plans{
    background-color: #f4f4f4;
}

.plan-box{
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    transition-duration: 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plan-box:hover{
    box-shadow: 10px 10px 5px 0px rgba(102, 101, 101, 0.75);
    border-radius: 10px;
    transition-duration: 0.5s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plan-box div{
    padding: 15px;
    border-bottom: 2px;
}
.plan-price{
    font-size: 250%;
    margin-bottom: 10px;
    font-weight:300;
    color: #e67e22;
}
.plan-price span{
    font-size: 60%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
  
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box h3{
    font-weight: 400;
    text-align: center;
}
.plan-box div:last-child{
    text-align: center;
}
.plan-box div:first-child{
    background-color:rgba(228, 228, 228, 0.75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
/*----------Plan Button-------------*/
.btn-s:link,
.btn-s:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    color: #e67e22;
    border-radius: 200px;
    transition-duration: 0.5s;
}
.btn-sign:link,
.btn-sign:visited{
    border:1px solid #e67e22 ;
}
.btn-sign:hover,
.btn-sign:active,
input[type=submit]:hover{
    background-color: #e67e22;
    transition-duration: 0.5s;
    border:1px solid #e67e22 ;
    color: #fff;
}

/*---------------------Find Us---------------*/
.contact-form{
    width:60%;
    margin: 0 auto;
    transition-duration: 0.5s;
}
input[type=text],
input[type=email],
select,
textarea{
    width: 100%;
    height: auto;
    padding: 7px;
    border: 1px solid rgb(119, 117, 117);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input[type=submit]{
    background-color: #fff;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

/*------------Footer-------------------*/
footer{
    background-color: #333333;
    width: 100%;
    padding: 60px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-left: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
    margin-right: 0;
}
footer a{
    text-decoration: none;
    color: rgb(138, 137, 137);
    transition-duration: 0.5s;
    border: 0;
}
.social-links a{
    font-size: 170%;
    transition-duration: 0.5s;
}
/*-----------Social Icon Color-----------------*/
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition-duration:0.5s;
}
.ion-social-facebook:hover{
    color: #3b5998;
    transition-duration: 0.5s;
}

.ion-social-twitter:hover{
    color: #00aced;
    transition-duration: 0.5s;
}

.ion-social-googleplus:hover{
    color: #860000;
    transition-duration: 0.5s;
}

.ion-social-instagram:hover{
    color: #dd254d;
    transition-duration: 0.5s;
}


.footer-nav a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
footer p{
    color: rgb(138, 137, 137);
    text-align: center;
    margin-top:40px;
    letter-spacing: 2px;
    
}
footer span{
    font-size: 80%;
    margin-top:10px;
    letter-spacing: 0px;
}


/******** For Animation **********/

.js--wp-1,
.js--wp-3{
    opacity: 0;
}
.js--wp-1 .animate{
    opacity: 1;
    transition-duration: 1s;
}
.js--wp-3 .animate{
    opacity: 1;
    transition-duration: 1s;
}